@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap-css-only/css/bootstrap.min.css";
@import "~mdbreact/dist/css/mdb.css";

body {
	margin: 0;
}

section {
	min-height: 100vh;
	padding: 20px 0;
}
